<!DOCTYPE html>
<html>
<head>
  <title>Sold!</title>
  <link rel="stylesheet" type="text/css" href="/create.css">
</head>
<body>
  <div class = "container">
    <%if params[:quantity].to_i <= @product.stock%>
    <p><%=@product.sell(params[:quantity])%></p>
    <p>TRANSACTION VALUE: £<%=params[:quantity].to_i * @product.price%></p>
    <%else%>
    <p>NOT ENOUGH ITEMS IN STOCK!</p>
    <%end%>
  </div>
</body>
</html>

