.container {
  margin-top: 3%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 1% 0%;
}
.container p{
  margin: auto;
  padding: 9% 0%;
}

.container p > a{
  color: white;
  text-align: center;
  text-decoration: none;
}
